body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#productions-container {

}

#output {
  width: 100%;
}

#productions-container .thumbnails li {
  display: inline;
  margin-left: 12px;
  height: 160px;
  width: 160px;
  float: none;
}

#productions-container .thumbnails li:first-child {
  margin-left: 0px;
}

#productions-container .thumbnails li .thumbnail {
  display: inline-block;
}

#productions-container .thumbnails {
  margin: 0;
  padding: 0 0 12px 0;
  white-space: nowrap;
  overflow-x: auto;
}
